/*GENERAL STYLES*/
@import url('https://fonts.googleapis.com/css?family=Timmana|Josefin+Sans&display=swap');

html {
    scroll-behavior: smooth;
    background-color: cornflowerblue;
}

.centered-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal {
    cursor: pointer;
    box-shadow: -7px 3px 18px 0px rgba(0,0,0,0.4);
}

/*SECTION STYLES*/
div.section {
    height: 700px;
    background-color: coral;
}

#home {
    background-color: green;
    height: 95vh;
}

.content {
    background: white;
    border-radius: 10px;
    width: 90%;
    height: 60%;
}


/*NAVBARS*/

/*navbar elements*/
.nav-bar {
    justify-content: space-evenly;
}

.button {
    color: black;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-family: 'Timmana', sans-serif;
    font-size: 15pt;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    /* MENU = LOGO + NAVBAR*/
    height: 75px;
    background-color: rgba(150,150,150,0.6);
    justify-content: space-between;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    margin: 0px 0px 0px 10%;
    flex: 0 0 auto;
}

.nav-bar {
    margin-right: 10%;
}

.menu-item {
    /* LOGO AND NAVBAR (AKA ANYTHING IN THE MENU) */
    height: 100%
}

/*sticky navbar*/

@media (min-height: 300px) {
#sticky-menu {
      position: sticky;
      top: 0;
      z-index: 9;
    }
  }

#sticky-menu {
    background-color: rgba(150,150,150,0.6);
}

.hvr-fade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: red;
    color: white;
  }