body {
    background-color: cornflowerblue;
    scroll-snap-type: y mandatory;
}

.snap-scroll {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    scroll-snap-align: start;
    background-color: coral;
}

.reveal {
    padding: 4vw;
    width: 40vw;
    background: white;
    border-radius: 7px;
    cursor: pointer;
}